.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 243);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.p-browser {
    background-color: rgb(243, 242, 243);
    height: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}

.p-img {
    width: 100%;
    transition: all 2s ease;
}

.p:hover .p-img {
    transform: translateY(-40%);
}


@media screen and (max-width: 480px) {
    .p {
        width: 40%;
        height: 20vh;
    }
}